
#palo{
    position:absolute;
    top:0;
    left: 300px;
    height: 300px;
    width: 3px;
    opacity: 0;
    background-color: black;
    animation-name: palo;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
/*
@keyframes infinity{
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}*/

@keyframes palo {
    75%{
        opacity: 0;
    }
    78%{
        opacity: 1;
    }
    80%{
        opacity: 0;
    }
    82%{
        opacity: 1;
    }
    84%{
        opacity: 0;
    }
    86%{
        opacity: 1;
        left: 300px;
    }
    88%{
        opacity: 0;
        left: 300px;
    }
    89%{
        left: 600px;
    }
    90%{
        opacity: 1;
        left: 600px;
    }
    91%{
        opacity: 1;
        left: 900px;
    }
    92%{
        left: 900px;
        opacity: 0;
    }
    93%{
        left: 1200px;
        opacity: 0;
    }
    94%{
        left: 1500px;
        opacity: 1;
    }
    95%{
        left: 1500px;
        opacity: 0;
    }
    96%{
        left: 1500px;
        opacity: 0;
    }
    98%{
        opacity: 1;
        left: 1500px;
    }
    99%{
        left: 1500px;
    }
    100%{
        left: 1500px;
        opacity: 0;                         
    }
    
}
table {
    border-collapse: collapse;
    background-color: rgba(52, 152, 219, 0.5);
    opacity: 1;
    animation-name: espera2;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  @keyframes espera2 {
    99%{
        opacity: 1;
    }
    100%{
        opacity: 0;                         
        visibility: hidden;
    }
}

  td {
    padding: 10px;
    width: 61px;
    height: 61px;
  }
  #s{
    position: absolute;
    top: 0; 
    left: 0;
    opacity: 0;
    animation-name: espera, pequeño;
    animation-duration: 10s, 15s;
    animation-timing-function: ease-in-out, ease-in-out;
    animation-fill-mode: forwards, forwards;
  }

  @keyframes espera {
    99%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes pequeño {
    60%{
        width: 746px;
    }
    100%{
        width: 300px;
    }
}

#n,#a,#k,#e{
    width: 300px;
    image-rendering: pixelated;
    position: absolute;
    opacity: 0;
    animation-duration: 20s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
    
}
#n{top: 0; 
    left: 300px;
    animation-name: aparecen;
    }


    #a{top: 0; 
        left: 600px;
        animation-name: aparecea;
        }


        #k{top: 0; 
            left: 900px;
            animation-name: aparecek;
            }


            #e{top: 0; 
                left: 1200px;
                animation-name: aparecee;
                }
@keyframes aparecen {
    89%{
        opacity: 0;
    }
    90%{
        opacity: 0.5;
    }
    100%{
        opacity: 0.5;
    }
}
@keyframes aparecea {
    90%{
        opacity: 0;
    }
    91%{
        opacity: 0.5;
    }
    100%{
        opacity: 0.5;
    }
}
@keyframes aparecek {
    91%{
        opacity: 0;
    }
    92%{
        opacity: 0.5;
    }
    100%{
        opacity: 0.5;
    }
}
@keyframes aparecee {
    93%{
        opacity: 0;
    }
    94%{
        opacity: 0.5;
    }
    100%{
        opacity: 0.5;
    }
}

  .s{
    background-color: green;
    color: green;
    opacity: 0;
  }

  #uno, #dos, #tres{
    animation-name: aparecer123;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  @keyframes aparecer123 {

    14% {
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }

}


#cuatro{
    animation-name: aparecer4;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    /*animation-iteration-count:infinite;*/
    animation-fill-mode: forwards;
  }
  @keyframes aparecer4 {

    20% {
        opacity: 0;
    }
    21% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

#cinco{
    animation-name: aparecer5;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    /*animation-iteration-count:infinite;*/
    animation-fill-mode: forwards;
  }
  @keyframes aparecer5 {

    22% {
        opacity: 0;
    }
    23% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}


#seis{
    animation-name: aparecer6;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    /*animation-iteration-count:infinite;*/
    animation-fill-mode: forwards;
  }
  @keyframes aparecer6 {

    35% {
        opacity: 0;
    }
    36% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

#siete, #ocho, #nueve{
    animation-name: aparecer789;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    /*animation-iteration-count:infinite;*/
    animation-fill-mode: forwards;
  }
  @keyframes aparecer789 {

    44% {
        opacity: 0;
    }
    45% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }

}


#diez{
    animation-name: aparecer10;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    /*animation-iteration-count:infinite;*/
    animation-fill-mode: forwards;
  }
  @keyframes aparecer10 {

    53% {
        opacity: 0;
    }
    54% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}


#once{
    animation-name: aparecer11;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    /*animation-iteration-count:infinite;*/
    animation-fill-mode: forwards;
  }
  @keyframes aparecer11 {

    60% {
        opacity: 0;
    }
    62% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

#doce{
    animation-name: aparecer12;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    /*animation-iteration-count:infinite;*/
    animation-fill-mode: forwards;
  }
  @keyframes aparecer12 {

    62% {
        opacity: 0;
    }
    64% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}


#trece, #catorce, #quince{
    animation-name: aparecer131415;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    /*animation-iteration-count:infinite;*/
    animation-fill-mode: forwards;
  }
  @keyframes aparecer131415 {

    73% {
        opacity: 0;
    }
    74% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}


  @keyframes moverh {
    0% {
        transform: translateX(0);
        width: 246px;
    }
    6% {
        transform: translateX(567px);
        width: 164px;
        opacity:1;
    }
    8% {
        transform: translateX(649px);
        width: 82px;
        opacity:1;
    }
    
    9% {
        transform: translate(649px, 81px);
        width: 82px;
        opacity:1;
    }
    10% {
        transform: translate(649px, 81px);
        width: 82px;
        opacity:1;
    }
    11% {
        transform: translate(567px, 81px);
        width: 164px;
        opacity:1;
    }
    15% {
        transform: translate(0px, 81px);
        width: 246px;
    }
    16% {
        width: 164px;

    }
    18% {
        width: 82px;
        transform: translate(0px, 81px);

    }
    19% {
        width: 82px;
        transform: translate(0px, 162px);
    }
    20% {
        width: 82px;
        transform: translate(0px, 162px);
    }
    20% {
        width: 164px;
        transform: translate(0px, 162px);
    }
    22%{
        width: 246px;
    }
    25% {
        transform: translate(649px, 162px);
        width: 82px;
    }
    30% {
        transform: translate(649px, 243px);
        width: 82px;
    }
    35% {
        transform: translate(0px, 243px);
        width: 246px;
    }
    36% {
        width: 82px;

    }
    40% {
        width: 82px;
        transform: translate(0px, 324px);
    }
    42%{
        width: 246px;
    }
    45% {
        transform: translate(649px, 324px);
        width: 82px;
    }
    50% {
        transform: translate(649px, 405px);
        width: 82px;
    }
    55% {
        transform: translate(0px, 405px);
        width: 246px;
    }
    56% {
        width: 82px;

    }
    60% {
        width: 82px;
        transform: translate(0px, 486px);
    }
    62%{
        width: 246px;
    }
    65% {
        transform: translate(649px, 486px);
        width: 82px;
    }
    70% {
        transform: translate(649px, 567px);
        width: 82px;
    }
    75% {
        transform: translate(0px, 567px);
        width: 246px;
    }
    76% {
        width: 82px;

    }
    80% {
        width: 82px;
        transform: translate(0px, 648px);
    }
    82%{
        width: 246px;
    }
    85% {
        transform: translate(648px, 648px);
        width: 82px;
        opacity: 1;
    }
    100% {
        transform: translate(648px, 648px);
        width: 82px;
        opacity: 0;
    }
  }
  #serphorizontal {
    z-index: 9999;
    position: absolute;
    border-radius: 1cm;
    width: 246px;
    height: 82px;
    background-color: orange;
    animation-name: moverh;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  #serpvertical {
    opacity:0;
    z-index: 9999;
    position: absolute;
    border-radius: 1cm;
    width: 82px;
    height: 164px;
    background-color: orange;
    animation-name: moverv;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  @keyframes moverv {
    0% {
        opacity:0;
        transform: translateX(0);
        

    }
    5% {
        transform: translateX(649px);
        opacity:0;
        height: 82px;
    }
    6% {
        transform: translateX(649px);
        opacity:1;
        height: 82px;
    }
    8% {
        transform: translateX(649px);
    opacity:1;
    height: 164px;

    }
    11% {
        transform: translateX(649px);
        opacity:1;

    }
    12% {
        transform: translateX(649px);
        height: 164px;
        opacity:0;

    }
    
    15% {
        transform: translate(0px, 81px);
        opacity:0;
        height: 82px;
    }
    16% {
        transform: translate(0px, 81px);
        opacity:1;
        height: 82px;

    }
    18% {
        transform: translate(0px, 81px);
        opacity:1;
        height: 164px;

    }
    20% {

        transform: translate(0px, 81px);
        opacity:1;
    }
    21%{
        transform: translate(0px, 81px);
        opacity:0;
    }
    25% {
        transform: translate(649px, 162px);

    }
    30% {
        transform: translate(649px, 243px);

    }
    35% {
        transform: translate(0px, 243px);

    }
    36% {


    }
    40% {

        transform: translate(0px, 324px);
    }
    42%{

    }
    45% {
        transform: translate(649px, 324px);

    }
    50% {
        transform: translate(649px, 405px);

    }
    55% {
        transform: translate(0px, 405px);

    }
    56% {


    }
    60% {

        transform: translate(0px, 486px);
    }
    62%{

    }
    65% {
        transform: translate(649px, 486px);

    }
    70% {
        transform: translate(649px, 567px);

    }
    75% {
        transform: translate(0px, 567px);

    }
    76% {


    }
    80% {

        transform: translate(0px, 648px);
    }
    82%{

    }
    85% {
        transform: translate(648px, 648px);

    }
    100% {
        transform: translate(648px, 648px);
    }
  }
  